---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Socials from '../components/Socials.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="h-full w-full flex items-center justify-center">
    <div class="h-full max-w-lg flex flex-col items-start justify-center gap-20">
      <Hero />
      <!-- <Socials /> -->
    </div>
  </div>
</Layout>
