<div class="flex gap-16">
  <div class="flex items-center">
<h1 class="text-white font-light text-5xl">Hi, I'm <span class="font-semibold">Nhyl</span></h1>
  </div>
  <div class="flex flex-col justify-center gap">
    <p class="text-white">DevSecOps Engineer</p>
    <a class="text-white transition duration-150 ease-in-out hover:text-orange-400" href="https://ingenuity.ph">Ingenuity Software</a>
  </div>
</div>
